[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django-bootstrap4 = "*"
django-markdownx = "*"
django-environ = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
django = "==2.2.10"

[requires]
python_version = "3.8"
