{% extends 'blogs/blogs_base.html' %}

{% block title %}Tech Blog{% endblock %}

{% block jumbo %}
    {% include 'blogs/header/jumbotron.html' %}
{% endblock %}

{% block content %}
    <br>
    <div class="mx-auto" style="width: 1020px;">
        <div class="card-deck">
            {% for article in articles %}
            <div class="filter">
                <a class="card-deck border-secondary shadow" style="margin: 15px; width: 20rem; height: 15rem;" href="{% url 'blogs:detail' article.pk %}">
                    <div class="card-body text-secondary">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">{{ article.text | slice:":100"}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
