{% extends 'users/users_base.html' %}


{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="text-center">
        <a href="{% url 'blogs:index' %}" style="color:#000000;"><i class="fas fa-book fa-3x"></i></a>
    </div>
    <h1 class="text-center mb-3 mt-5">Tech Blog</h1>
    <form action="" method="POST">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg btn-block" >Sign in</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </form>

    <div class="text-center mt-5">
        <a class="" href="{% url 'users:user_create' %}" style="margin-right: 10px;">
            Sign up
        </a>
    </div>
</div>
{% endblock %}
