
{% extends 'blogs/blogs_base.html' %}
{% load markdown %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-6 text-left pl-5">
                <a href="{% url 'users:profile' create_user_name %}?id={{ article.pk }}">{{ create_user_name }}</a>
            </div>
            {% if login_user == article.author %}
            <div class="col-md-6 col-lg-6 text-right pr-5">
                <a href="{% url 'blogs:article_edit' article.pk %}">Edit</a>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 title">
                <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="markdown">
            {{ article.text | markdown_to_html }}
        </div>
    </div>

    <!-- highlight.js -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atom-one-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}
