{% extends 'blogs/blogs_base.html' %}

{% block title %}Tech Blog{% endblock %}

{% block jumbo %}
    {% include 'includes/jumbotron.html' %}
{% endblock %}

{% block content %}
    <section class="section1">
        <div class="section-container">
            <!-- paging -->
            <div class="mb-5">
                {% include 'includes/page.html' %}
            </div>
            <div class="container ">
                <div class="row">
                    <div class="mx-auto">
                        <div class="card-deck">
                            {% for article in articles %}
                            <div class="filter">
                                <a class="card-deck border-secondary shadow" style="margin: 15px; width: 20rem; height: 15rem;" href="{% url 'blogs:detail' article.pk %}">
                                    <div class="card-body text-secondary">
                                        <h4 class="card-title">{{ article.title }}</h4>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- paging -->
            {% if page_obj|length >= 9 %}
                <div class="mt-5">
                    {% include 'includes/page.html' %}
                </div>
            {% endif %}
        </div>
    </section>

    <!-- footer -->
    {% include 'includes/footer.html' %}

{% endblock %}
