{% extends 'blogs/blogs_base.html' %}
{% load static %}

{% block title %}Yu Tech Blog{% endblock %}

{% block jumbo %}
    {% include 'includes/jumbotron.html' %}
{% endblock %}

{% block content %}
    <section class="section1">
        <div class="section-container">
            <div class="container ">
                <!-- paging -->
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9 mb-5">
                        {% include 'includes/page.html' %}
                    </div>
                </div>
                <div class="row content">
                    <div class="col-sm-12 col-md-9 col-lg-9 left-content">
                        {% for article in articles %}
                        <a href="{% url 'blogs:article_detail' article.pk %}" class="card mb-3" style="max-width: 600px;">
                            <div class="row no-gutters">
                            <div class="col-md-4 thumbnail">
                                {% if article.thumbnail %}
                                <img src="{{ article.thumbnail.url }}" class="card-img" alt="...">
                                {% else %}
                                <img src="{% static 'blogs/img/default_thumbnail.jpg' %}" class="card-img" alt="...">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text"></p>{{ article.created_at | date:"Y/n/j" }}</p>
                                    <p class="card-text">{{ article.description | truncatechars:60}}</p>
                                </div>
                            </div>
                          </div>
                        </a>
                        {% endfor %}
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">カテゴリー</h5>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for category, count in category_dict.items %}
                                    {% if count %}
                                    <li class="list-group-item">
                                        <a href="?category={{ category }}">{{ category }} ({{ count }})</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- paging -->
                {% if page_obj|length >= 9 %}
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9 mt-5">
                        {% include 'includes/page.html' %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- footer -->
    {% include 'includes/footer.html' %}

{% endblock %}
