
<!-- Footer -->
{% load static %}
<footer>
	<div class="footer-top">
        <div class="container">
        	<div class="row">
        		<div class="col-md-4 col-lg-4 footer-about">
        			<!-- <h3>Links</h3>
        			<p><a href="#">What is Tech Blog</a></p> -->
                </div>
        		<div class="col-md-4 col-lg-4 offset-lg-1 footer-contact">
                    <h3>Contact</h3>
                    <p><i class="fas fa-envelope"></i> Email: <a href="sekitan.yu@gmail.com">sekitan.yu@gmail.com</a></p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social">
                	<h3>Follow me</h3>
                	<p>
                        <a href="https://www.facebook.com/yu.sekita.7" target="blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/yu_sekita" target="blank"><i class="fab fa-twitter"></i></a>
						<a href="https://github.com/yu-sekita" target="blank"><i class="fab fa-github"></i></a>
                	</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    	<div class="container">
    		<div class="row">
       			<div class="col-md-5 footer-copyright">
                	<p>© Portfolio Tech Blog by sekita</p>
                </div>
       			<div class="col-md-7 footer-menu">
                	<nav class="navbar navbar-dark navbar-expand-md">
					    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					        <span class="navbar-toggler-icon"></span>
					    </button>
					</nav>
                </div>
       		</div>
    	</div>
    </div>
</footer>