body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium";
}

.title h1 {
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

section.section1 {
    background: #f8f8f8;
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 100px 0px;
}

.article-menu a span {
    color: #696969;
    opacity: 0.5;
}
.article-menu a:hover span {
    color: #696969;
    opacity: 1.0;
}

.article-menu .profile-img-short {
    margin: 0px 0px 0px 0px;
}

.article-menu .profile-img-short img {
    color: #696969;
    opacity: 1.0;
    border-radius: 50%;
    width:    80px;
    height:   80px;
    border:   solid 5px #ffffff;
    overflow: hidden;
    position: relative;
}

.card-body .card-title {
    font-size: 25px;
}

.card-body .card-text {
    font-size: 15px;
}

.content .left-content a {
    color: #696969;
    -webkit-transition: all .3s;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
}
.content .left-content a:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 3px 3px 3px 3px #bbb;
}

/*ウィンドウ幅が0～749pxの場合にcssを適用*/
@media screen and (min-width: 0px) {
    .content {
        margin-left:  31.5px;
        margin-right: 31.5px;
    }
    .content-detail {
        margin-left:  5px;
        margin-right: 5px;
    }
    .thumbnail img{
        width:    250px;
        height:   250px;
    }
}
/*ウィンドウ幅が750～1199pxの場合にcssを適用*/
@media screen and (min-width: 750px) {
    .content {
        margin-left:  50px;
        margin-right: 50px;
    }
    .content-detail {
        margin-left:  50px;
        margin-right: 50px;
    }
    .thumbnail img{
        width:    100%;
        height:   100%;
    }
}
/*ウィンドウ幅が1200px～の場合にcssを適用*/
@media screen and (min-width: 1200px) {
    .content {
        margin-left:  50px;
        margin-right: 50px;
    }
    .content-detail {
        margin-left:  50px;
        margin-right: 50px;
    }
    .thumbnail img{
        width:    100%;
        height:   100%;
    }
}