
.filter a{
    display:block;
    position: relative;
    width:400px;
    min-height:300px;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-end;
}
.filter a:before{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.filter a:hover:before{
    background-color: rgba(0,0,0,0.0);
}
